@use './assets/sass/main' as M;
@use './assets/sass/colors' as C;

.wrapper {
	width: 100%;
	height: 100%;
	@include M.flex-center;
	background-color: C.$m-green;
}

.btn {
	outline: none;
	border: none;
}